
<script>

  $(function() {
    $(".lessons").sortable({
      update: function( event, ui) {
        console.log(ui.item.index())
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index()}}
        });
      }
    });
  });

  $(function() {
    $(".sections").sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: {section: {row_order_position: ui.item.index() }}
      });
      }
    });
  });

</script>

<br />

<div class = "booyah-box col-10 offset-1">
  <b><h1 class = "text-center"><%= current_course.title %></h1></b>
  <br />
  <div class = "text-center">
  <%= image_tag current_course.avatar.to_s, class: 'img-fluid' %>
</div>
<br />
  <div class="text-center">
  <%= link_to 'Preview as a Student...', course_path(current_course), class: 'btn btn-warning' %>
  <br />
  <br />

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newSectionModal">
  Add a new section
</button>

  <br />
  <br />
</div>


<h2 class = "text-center"> Course Sections and Lessons </h2>
    <br />
  <div class = "col-10 offset-1">
    <ul class ="sections">
    <% current_course.sections.rank(:row_order).each do |section| %>
      <li data-update-url="<%=instructor_section_path(section) %> " class="section-li">
        <div class="header">
        <span class="fa fa-ellipsis-v"></span>
        <%= section.title %>
      </div>
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#newLessonModal">
  Add a New Lesson
</button>

<br class = "clr" />
<br class = "clr" />

        <ul class ="lessons">
          <% section.lessons.rank(:row_order).each do |lesson| %>
          <li data-update-url="<%= instructor_lesson_path(lesson) %> ">
            <p>
            <span class="fa fa-ellipsis-v"></span>
              <b><%= lesson.title %></b>
            </p>
            <p>
              <%= lesson.subtitle %>
            </p>
            </li>
          <% end %>
        </ul>
        <br />

      </li>
    <%end%>
  </ul>
  </div>
</div>

  <br />
  <h2 class = "text-center"><%= current_course.description %></h2>
  <h3 class = "text-center">$<%= current_course.cost %></h3>
</div>


<!-- Modal -->
<div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="newSectionModal"> Add New Section </h4>
      </div>
      <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f| %>
        <div class="modal-body">
          <%= f.input :title %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Add Section", class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="newLessonModal">Add a New Lesson </h4>
      </div>
        <%= simple_form_for @lesson, url: "#" do |f| %>
          <div class="modal-body"> 
          <%= f.input :title %>
          <%= f.input :subtitle %>
          <%= f.input :video %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Add the Lesson", class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>



