
<script>
  $(function() {
    $(".lessons").sortable({
      update: function( event, ui) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index()}}
        });
      }
    });
  });
</script>

<br />

<div class = "booyah-box col-10 offset-1">
  <b><h1 class = "text-center"><%= current_course.title %></h1></b>
  <br />
  <div class = "text-center">
  <%= image_tag current_course.avatar.to_s, class: 'img-fluid' %>
</div>
<br />
  <div class="text-center">
  <%= link_to 'Preview as a Student...', course_path(current_course), class: 'btn btn-warning' %>
  <br />
  <br />
    <%= link_to 'Add a new section...', new_instructor_course_section_path(current_course), class: 'btn btn-primary btn-large' %>
  <br />
  <br />
</div>

<h2 class = "text-center"> Course Sections and Lessons </h2>
    <br />
    <ul>
    <% current_course.sections.rank(:row_order).each do |section| %>
      <li>
        <%= section.title %>
        <%= link_to 'Add New Lesson', new_instructor_section_lesson_path(section), class: 'float-right btn btn-primary btn-sm' %>
        <ul class ="lessons">
          <% section.lessons.rank(:row_order).each do |lesson| %>
          <li data-update-url="<%= instructor_lesson_path(lesson) %> ">
              <b><%= lesson.title %></b>
              -
              <%= lesson.subtitle %>
            </li>
          <% end %>
        </ul>
        <br class ='clr'/>
      </li>
    <%end%>
  </ul>
  </div>

  <br />
  <h2 class = "text-center"><%= current_course.description %></h2>
  <h3 class = "text-center">$<%= current_course.cost %></h3>
</div>

